[user]
        name = Miriam Ruiz 
        email = mruiz@espublico.tech

[diff]                                                               
        tool = p4merge                                               
[difftool "p4merge"]                                                 
        path = /home/mruiz/Applications/p4v/bin/p4merge  
[merge]                                                              
        tool = p4merge                                               
[mergetool "p4merge"]                                                
        path = /home/mruiz/Applications/p4v/bin/p4merge  
				; keepBackup = false

[fetch]
	prune = true
[core]
	autocrlf = input
