[submodule "modules/dotly"]
	path = modules/dotly
	url = https://github.com/CodelyTV/dotly.git
	branch = main
[submodule "os/linux/dunst/themes"]
	path = os/linux/dunst/themes
	url = https://github.com/catppuccin/dunst.git
[submodule "shell/zsh/.zim/modules/completion"]
	path = shell/zsh/.zim/modules/completion
	url = https://github.com/zimfw/completion.git
[submodule "shell/zsh/.zim/modules/environment"]
	path = shell/zsh/.zim/modules/environment
	url = https://github.com/zimfw/environment.git
[submodule "shell/zsh/.zim/modules/git-info"]
	path = shell/zsh/.zim/modules/git-info
	url = https://github.com/zimfw/git-info.git
[submodule "shell/zsh/.zim/modules/input"]
	path = shell/zsh/.zim/modules/input
	url = https://github.com/zimfw/input.git
[submodule "shell/zsh/.zim/modules/zsh-autosuggestions"]
	path = shell/zsh/.zim/modules/zsh-autosuggestions
	url = https://github.com/zsh-users/zsh-autosuggestions.git
[submodule "shell/zsh/.zim/modules/zsh-syntax-highlighting"]
	path = shell/zsh/.zim/modules/zsh-syntax-highlighting
	url = https://github.com/zsh-users/zsh-syntax-highlighting.git
[submodule "scripts/emojis/emojipedia"]
	path = scripts/emojis/emojipedia
	url = git@github.com:santakadev/emojipedia.git
